<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: The magical pineal gland	</title>
	<atom:link href="https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/</link>
	<description>Solutions for sleep deprivation, stress and exhaustion</description>
	<lastBuildDate>Fri, 22 Jul 2022 12:15:19 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.1</generator>
	<item>
		<title>
		By: Anandi		</title>
		<link>https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16521</link>

		<dc:creator><![CDATA[Anandi]]></dc:creator>
		<pubDate>Fri, 22 Jul 2022 12:15:19 +0000</pubDate>
		<guid isPermaLink="false">https://www.thesleepguru.co.uk/?p=12462#comment-16521</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16520&quot;&gt;Mortonette Stephens&lt;/a&gt;.

Great, so glad you found it useful!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16520">Mortonette Stephens</a>.</p>
<p>Great, so glad you found it useful!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Mortonette Stephens		</title>
		<link>https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16520</link>

		<dc:creator><![CDATA[Mortonette Stephens]]></dc:creator>
		<pubDate>Fri, 08 Jul 2022 15:10:27 +0000</pubDate>
		<guid isPermaLink="false">https://www.thesleepguru.co.uk/?p=12462#comment-16520</guid>

					<description><![CDATA[I’m researching  this  amazing  gland  your information is priceless to my research ! Thank you !]]></description>
			<content:encoded><![CDATA[<p>I’m researching  this  amazing  gland  your information is priceless to my research ! Thank you !</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Anandi		</title>
		<link>https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16519</link>

		<dc:creator><![CDATA[Anandi]]></dc:creator>
		<pubDate>Sat, 14 May 2022 07:59:02 +0000</pubDate>
		<guid isPermaLink="false">https://www.thesleepguru.co.uk/?p=12462#comment-16519</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16518&quot;&gt;Cathy&lt;/a&gt;.

So glad you found it informative.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16518">Cathy</a>.</p>
<p>So glad you found it informative.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Cathy		</title>
		<link>https://www.thesleepguru.co.uk/sleep-blog/meditation-for-sleep/the-magical-pineal-gland/#comment-16518</link>

		<dc:creator><![CDATA[Cathy]]></dc:creator>
		<pubDate>Sat, 14 May 2022 06:10:08 +0000</pubDate>
		<guid isPermaLink="false">https://www.thesleepguru.co.uk/?p=12462#comment-16518</guid>

					<description><![CDATA[This was informative. I especially appreciate the reference to Jesus words about the eye being the light of the body. I have often wondered what he was referring too. Thank you.]]></description>
			<content:encoded><![CDATA[<p>This was informative. I especially appreciate the reference to Jesus words about the eye being the light of the body. I have often wondered what he was referring too. Thank you.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
